/* media queries */
@media (width <=35em) {

    /* Garante que a página tenha um único scroll */
    html,
    body {
        height: 100%;
        overflow: hidden;
        /* Impede scroll duplo */
    }

    & #app {
        display: flex;
        flex-direction: column;
        justify-items: center;
        min-height: 100vh;
        overflow: auto;
        /* Adiciona um único scroll para a página */
    }

    & .no-mobile {
        display: none;
    }

    & aside {
        order: -1;
        height: 22rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1.5rem;

        .aside-container {
            width: 100%;

            &>img {
                width: 80%;
                max-width: 20rem;
                margin: 0;
            }
        }
    }

    & main {
        flex-grow: 1;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        /* Remove o overflow do main para evitar scroll duplo */
        overflow: unset;

        & .main-container {
            width: 100%;
        }

        & .back {
            margin-bottom: 1rem;
        }

        & h1 {
            font-size: 1.25rem;
        }

        & .action-wrapper {
            display: flex;
            flex-direction: column;

            & .bnt-secondary {
                margin-left: 0;
                text-align: center;
            }

            & .bnt-primary {
                margin-left: 0;
                text-align: center;
            }
        }
    }
}